.Movie_Card_text {
    width: 100%;
    padding-top: 100px;
    background: rgba(43, 41, 41, 0.9);
    height: 330px;
    opacity: 0;
    transition: all 0.5s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
    z-index: 1; /* 新しく追加 */
    align-items: center; /* このプロパティは flex コンテナ内でのみ有効です */
    justify-content: center; /* 新しく追加 */
    align-items: center; /* 新しく追加 */
    position: absolute; /* 新しく追加 */
    background: rgba(43, 41, 41, 0.9); /* 新しく追加 */
}
.react-multi-carousel-list ,
.carousel-container,
.react-multi-carousel-track
{
    margin: 0;
}
.Movie_Card_text:hover{
    opacity: 1;
    z-index: 2;
}
.MovieCard{
    background-size: 120px;
    height: 330px;
    width: 100%;
    background-size: contain; /* 背景画像を完全に表示させるように調整 */
    background-repeat: no-repeat; /* 背景画像の繰り返しを防止 */
    cursor: pointer;
    transition: 0.5s;
    position: relative; /* 新しく追加 */
    overflow: hidden;
}
.MovieCard:hover{
    transform: scale(1.3) translatez(5px);
    z-index: 999;
}
.bedge_Movie{
    width: 80%;
    flex-wrap: wrap;

}
/* Other adjustments for responsiveness */
@media screen and (max-width: 768px) {
    .Movie_Card_text {
        padding-top: 10px;
    }
    .bedge_Movie{
        width: 90%;
        flex-wrap: wrap;
    }
    .Movie_Card_text {
        width: 100%;
        padding-top: 100px;
        background: rgba(43, 41, 41, 0.9);
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        color: white;
        font-weight: bold;
        overflow-wrap: break-word;
        z-index: 1; /* 新しく追加 */
        align-items: center; /* このプロパティは flex コンテナ内でのみ有効です */
        justify-content: center; /* 新しく追加 */
        align-items: center; /* 新しく追加 */
        position: absolute; /* 新しく追加 */
        background: rgba(43, 41, 41, 0.9); /* 新しく追加 */
    }
.MovieCard {
    height: 300px; /* Adjusted height for mobile view */
    width: 100%;
    background-size: cover; /* Adjusted background size property */
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

/* Hover effect for '.MovieCard' */
.MovieCard:hover {
    transform: scale(1.1); /* Adjusted scale value for mobile view */
    z-index: 999;
}

/* Additional styles for carousel components */
.react-multi-carousel-list,
.carousel-container,
.react-multi-carousel-track {
    margin: 0;
}}