.movie-card-wrapper {
    display: flex;
    flex-direction: column;
    text-align: centerå;
    max-width: 210px;
    justify-content: center;
    align-items: center;
}
  .movie-card-wrapper .card {
    flex: 1;
  }
  /* MoviePage.style.css */

.movie-card-wrapper {
    margin-bottom: 20px; /* Add margin below each MovieCard */
  }

  /* Style the image inside the MovieCard */
  .movie-card-wrapper img {
    margin: 0 auto; /* Center the image horizontally */
  }
  
  /* Add specific margin to the image */
  .movie-card-wrapper img {
    margin: 10px; /* Add margin around the image */
  }
  