

    .sort_button {
        margin-right: 4em;
        margin-top: 2em;
        margin-bottom: 3em;
        display: flex;
        justify-content: flex-end;
        }
    .sort_button .btn {
    margin-right: 4em;
    font-size: 1.0rem; /* Adjust the font size as needed */
    padding: 0.35rem 1rem; /* Adjust the padding as needed */
    }
@media (max-width: 576px) {
    .sort_button {
        margin: 1em;
        display: flex;
        justify-content: flex-end;
    }
    .sort_button .btn {
        font-size: 0.8rem; /* Adjust the font size as needed */
        padding: 0.25rem 1rem; /* Adjust the padding as needed */
    }
    .movie-card-wrapper {
        display: flex;
        max-width: 210px;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center; /* Center content horizontally */
    }

    .movie-card-wrapper img {

        display: block;
        border-radius: 10%;
        margin: 0 auto; /* Center the image horizontally */
        width: 100%; /* Make the image fill the width of the movie card */
        height: auto;
    }
    .pagination {
        max-width: 300px;
        margin: 0 auto;
    }
}
