*{margin: 0;}
.App {
  text-align: center;
  background-color: black;
  color: white;
  height: 100vh;
}
@media (max-width: 368px) {
  .App {
    flex-wrap: wrap;
    /* Adjust styles for better mobile responsiveness */
    padding: 20px; /* Add padding for better spacing */
    font-size: 14px; /* Reduce font size for readability on smaller screens */
    height: auto; /* Allow content to expand vertically */
  }
}