* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
  height: 100vh;
}
@media (max-width: 768px) {
  .App {
    flex-wrap: wrap;
    background-color: black;

    font-size: 14px; /* Reduce font size for readability on smaller screens */
    height: 100vh; /* Allow content to expand vertically */
  }
}