
.header_text{
    display: block;
}
.search_box{
    display: flex;
}
.loge_img{
    margin-right: 10px;
}
.container {
    width: 100vw;
}
.sidebar {
    display: none;
    background-color: black;
    height: 100vh;
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    justify-items: center;
    text-align: center;
    color: white;

    padding: 1em;
}
.button_sidebar{
    margin-top: 20px;
}
.sidebar.open {
    display: block;
}
.hanberger{
display: none;
}
.navbar-collapse {
    justify-content: space-between;
    display: flex;
}
.align-top{
    margin-right: 20px;
    margin-top: 10px;
}
.sidebar{display: none}
@media (max-width: 768px) {

    
.hanberger{
    margin-right: 1em;
display: block;
    filter: invert(100%); /* Inverts the color to white */
}
.header_text,
.search_box{
    display: none;
}

    .loge_img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}